#scrollTainer {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 1rem 0 1rem -0.5rem;
  overflow-x: scroll;
  padding: 3rem 0;
  white-space: nowrap;
  width: 100vw;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scrollTainer::-webkit-scrollbar {
  display: none; 
}

#scrollTainer>img {
  display: inline-block;
  margin: auto;
  padding: 0 5vw;
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 2px black);
  filter: drop-shadow(2px 2px 2px black);
}

@media (max-width: 575px) {
  #scrollTainer {
    padding: 1rem 0;
  }
  #scrollTainer>img {
    padding: 0 1rem;
  }
}