*, *::before, *::after {
  box-sizing: border-box;
  max-width: 1000px;
}

html {
  background-color: ghostwhite;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

h1, h3 {
  font-family: Arial;
}

a {
  background: rgb(50,50,50);
  border-radius: 100vw;
  color: white;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-out;
  text-decoration: none;
  margin-left: 40%;
  font-family: Arial;
}

a:hover {
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.05);
}

@media (max-width: 575px) {
  a {
    margin-left: 0;
  }
}

img {
  cursor: pointer;
}

section {
  display: flex;
}

section>img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fade {
  color: silver;
  animation: fade 5s ease-in-out infinite;
}

@keyframes fade{
 0% {
  color: silver;
 }
 50% {
  color: transparent;
 }
 100% {
  color: silver;
 }
}