#top {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: -2.25rem 0 0 -0.5rem;
  padding-left: 0.5rem;
  position: fixed;
  width: 100vw;
}

header>div>h2 {
  color: white;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}
