*, *::before, *::after {
  box-sizing: border-box;
  max-width: 1000px;
}

html {
  background-color: transparent;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

h1, h3 {
  font-family: Arial;
}