*, *::before, *::after {
  box-sizing: border-box;
  max-width: 1000px;
}

html {
  background-color: ghostwhite;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

h1, h3 {
  font-family: Arial;
}

a {
  background: rgb(50,50,50);
  border: 1px solid black;
  border-radius: 100vw;
  color: white !important;
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-out;
  text-decoration: none;
  margin-left: 40%;
  font-family: Arial;
}

@media (max-width: 575px) {
  a {
    margin-left: 0;
  }
}

a:hover {
  background-color: transparent;
  color: black !important;
}

section {
  display: flex;
}

section>img {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}