input::-webkit-slider-thumb,
input::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;   
}
